@use "../styles/main.scss" as *;

body {
    margin: 0;
    padding: 0;

    background-color: gainsboro;
    overflow-x:hidden;
}

.weathercard img {
    width: 130px;
    border-radius: 5px;
    // background-color: #4c9fec17;
}

.weathercard {
    position: relative;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 1em;
    padding: 0.5em;
    background-color:rgba(255, 255, 255, 0.6);
    width: fit-content;
    min-height: 360px;
    box-sizing: border-box;
    border-radius: 3px;
    text-align: center;
    min-width: 140px;
    max-width: 180px;
    width: fit-content;
    z-index: 20;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color: #222222;
    backdrop-filter: blur(4px);
    animation: comedown 1000ms;
    transform-style: flat;

    transition-duration: 300ms;
    // animation-timing-function: ease-out;
    // animation: fadeIn 2s;
    /* visibility: hidden; */
}

.weathercard:hover {
    color: #0c0c0c;
    transform: scale(1.03);
}

.wrapperrow {
    margin: 1em 0;
    width: 100%;
    position: relative;
    overflow:hidden;

    display: flex;
    justify-content: center;

    background-position-y: center;
    background-position-x: center;
    background-size: 1080px;
    background-blend-mode: saturation;
    background-repeat: no-repeat;
}

.weatherrow {
    justify-self: center;
    // z-index: 10;
    position: relative;
    width: 1080px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    overflow: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    /* background-image: linear-gradient(to right, gainsboro 17%, rgba(220, 220, 220, 0.3) 18%, rgba(220, 220, 220, 0.3) 82%, gainsboro 83%); */
    background-image: linear-gradient(to right, rgba(220, 220, 220, 0.3), rgba(220, 220, 220, 0.3) 100%);
    /* background-image: linear-gradient(to bottom,gainsboro 0%, rgba(255, 255, 0, 0) 10%,rgba(255, 255, 0, 0) 90%,gainsboro 100%),linear-gradient(to right, gainsboro 17%, rgba(220, 220, 220, 0.3) 25%, rgba(220, 220, 220, 0.3) 75%, gainsboro 83%); */
}

.weatherrow h2 {
    font-family:monospace
}

.weatherrow p {
    font-family:serif
}

.weatherrow::-webkit-scrollbar{
    display: none;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.header form {
    grid-column-start: 2;
}

.header {
    display: grid;
    justify-items: center;
    align-items: center;

    grid-template-columns: 10% 80% 10%;
    background-color: transparent;
    min-width: 100%;
    position: sticky;
    top:0;
    z-index: 25;
}

.header button img {
    width: 10px;
    width: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.header button {
    grid-column-start: 3;
    height: 20pt;
    width: 20pt;
    border-radius: 50%;
    border: solid  2px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(246, 246, 246);
    transition-duration: 100ms;
}

.header button:hover{
    transform: scale(1.15);
    background-color: white;
}

#weatherinput {
    position: relative;
    margin: 2em 0;
    align-self: center;

    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    width: 200px;
    height: 20pt;
    border: none;
    color:rgb(100, 100, 100);
    text-indent: 0.5em;
    font-size: 15pt;
}

input:focus {
    outline: none;
}
#weatherinput:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.weather_in {
    position: relative;
    flex-basis: 100%;
    font-family: "roboto";
    font-size: 60pt;
    /* color: rgb(255, 255, 255); */
    color:#EC6E4C;
    text-indent: 4pt;
    line-height: 46pt;
    margin-bottom: 22pt;
    z-index: 0;
    align-self: baseline;
    position: absolute;
    bottom: 0;
    /* white-space: nowrap; */
    width: 100%;
    min-width: 320px;
    overflow: visible;
    z-index: 15;
}

.weather_in::first-line{
    font-size: 24pt;
    line-height: 22pt;
}

.weatherback {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    align-items: center;


}

@media only screen and (max-width: 1260px) {
    .weather_in {
        display: none;
    }
  }

@media only screen and (max-width: 1000px) {
    .weatherrow {
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 480px) {

    .weathercard {
        margin: 1em 6%;
        width: 38%;
        min-width: fit-content;
    }
}