body {
    margin: 0;
    padding: 0;

    background-color: gainsboro;
}

.weathercard {
    order: 20;
    margin: 1em 2em;
    background-color:rgba(255, 255, 255, 0.603);
    width: fit-content;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    width: 140px;

    z-index: 100;
}

.weatherrow {
    order: 10;
    flex-basis: 100%;
    position: sticky;
    left: 1em;
    width: 100%;
    display: flex;
    justify-content: center;

    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.weatherrow::-webkit-scrollbar{
    display: none;
}

.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
    min-width: 100%;
    width: auto;
}

#weatherinput {
    margin: 2em 3em;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    width: 200px;
    height: 20pt;
    border: none;
    color:rgb(100, 100, 100);
    text-indent: 0.5em;
    font-size: 15pt;
};

input:focus {
    outline: none;
}
#weatherinput:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}

.weather_in {
    background-color: aqua;
    font-family: "roboto";
    font-size: 60pt;
    color: rgb(255, 255, 255);
    text-indent: 2pt;
    line-height: 44pt;
    width: auto;
    min-width: 250pt;

    z-index: 0;

    align-self: baseline;

    position: absolute;
    bottom: 0;

    margin-bottom: 20pt;
}

.weather_in::first-line{
    font-size: 25pt;
    line-height: 26pt;

}

.wrapperrow {
    width: 100%;
    position: relative;
}

.weatherback {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    display: flex;
    align-items: center;

    z-index: 0;
}