body {
    margin: 0;
    padding: 0;
}

.weathercard {
    margin: 1em 2em;
    background-color:dodgerblue;
    width: fit-content;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.weatherrow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header {
    display: flex;
    justify-content: center;
    background-color: gainsboro;
}

#weatherinput {
    margin: 2em 3em;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    width: 200px;
    height: 20pt;
    border: none;
    color:rgb(100, 100, 100);
    text-indent: 0.5em;
    font-size: 15pt;
};

input:focus {
    outline: none;
}
#weatherinput:focus {
    outline: none;
    background-color: rgb(255, 255, 255);
}